.contenedorMainAdmin {
    align-items: center;
    padding: 10px;
}

.tituloAdmin {
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.botonUsuario {

    border-radius: 5px;
    background-color: red;
    margin-bottom: 10px;
    color: white;
    border: none;

}

.botonJson {
    background-color: rgb(38, 132, 208);
    color: white;
    border-radius: 5px;
    border: none;

}


.botonUsuario,
.botonJson {
  height: 50px;
  padding: 10px 20px;
}


.botonContainer {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px;
    margin-bottom: 20px;
}

.botonUsuario:hover {
    background-color: rgb(185, 0, 0);
    font-weight: bold;
}

.botonJson:hover { 
    background-color: rgb(0, 81, 255);
    font-weight: bold;
}

.agregarUsser {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.agregarUsser input {
    border-radius: 5px;
    width: 25%;
}

.agregarUsser button {
    border-radius: 5px;
    background-color: red;
    color: white;
    width: 10%;
    text-align: center;
}

.agregarUsser button:hover {
    background-color: rgb(255, 71, 71);
    font-weight: bold;
}

.agregarUsser label {
    width: 25%;
    font-weight: bold;
    text-align: center;
}

.agregarUsser select {
    width: 25%;
}

.dashboardContainer{
    margin: 40px;
    padding-top: 10px;
}

@media (max-width: 768px){
    .botonUsuario,.botonJson{
        font-size: 10px;
    }
    .tituloAdmin{
        height: auto;
        font-size: 14px;
    }
}