

.diagramaContainer {
  padding: 20px;
}

/* Contenedor principal */
.contenedorBusqueda {
  margin: 20px 20px 0 20px;
  display: flex;
  flex-direction: row;
  gap: 10px; /* Espacio entre elementos horizontal */
  align-items: center;
  flex-wrap: nowrap; /* Evita que los elementos salten de línea en pantallas grandes */
  padding: 20px;
  border-radius: 5px;
}

/* Ajusta el subcontenedor de la última consulta */
.ultimaConsulta {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;

}

/* Responsive styling */
@media (max-width: 768px) {
  .contenedorBusqueda {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: stretch; /* Ocupa todo el ancho de la pantalla */
    gap: 10px; /* Espacio entre los elementos en vertical */
  }
}

.barraBusqueda {
  width: 100%; /* Ocupa todo el espacio disponible */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

.botonBuscar {
  background-color: #ff0404;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 45px;
  padding: 0 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap; /* Previene el salto de línea del texto */
}

.botonBuscar:hover {
  background-color: #ca0000;
  font-weight: bold;
  transform: scale(1.05);
}

.tecnologiaBusqueda {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  border: 1px solid #ccc;
  width: auto;
}




/* Estilo para la lista de sugerencias */
.sugerencias {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  /* Permite desplazamiento si hay muchas sugerencias */
  z-index: 1000;
  padding: 0;
  margin-top: 5px;
  width: calc(100% - 16px);
}

/* Estilo para cada elemento de sugerencia */
.sugerenciaItem {
  padding: 8px;
  cursor: pointer;
  list-style: none;
}

.sugerenciaItem:hover {
  background-color: #f0f0f0;
}

