.contenedorDescripcion {
  height: auto;
  background-color: #000;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: large;
}


.crearFormulario {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: rgb(207, 207, 207);
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.crearFormulario label {
  display: block;
  /* Mostrar la etiqueta en bloque */
  font-weight: bold;
  /* Texto en negrita */
  margin-bottom: 5px;
  /* Separar la etiqueta del input */
  text-align: center;

}

.crearFormulario input[type="text"],
.crearFormulario select {
  width: 95%;
  /* Ocupa todo el ancho disponible dentro de .form-group */
  padding: 8px;
  /* Espaciado interno */
  border: 1px solid #000;
  /* Borde del campo */
  border-radius: 3px;
  /* Bordes redondeados */
  box-sizing: border-box;
  /* Incluir padding y border en el ancho total */
  margin-bottom: 15px;
  /* Separar los campos verticalmente */
  background-color: #f6f6f6;
  /* Color de fondo */
}

.crearFormulario input:hover {
  background-color: rgb(220, 220, 220);
}

/* Asegúrate de que el CSS para el select esté bien definido y no sobrescrito */

.tecCrear {
  box-sizing: border-box;
  /* Incluye padding y border en el ancho total */
}


.botonCrear {
  width: 95%;
  /* Ocupa todo el ancho disponible */

  background-color: #ff0202;
  /* Fondo del botón */
  color: white;
  /* Color del texto */
  border-radius: 5px;
  /* Bordes redondeados */
  margin-top: 10px;
  /* Separación del botón del resto del contenido */
  border: none;
  /* Sin borde adicional para el botón */
  cursor: pointer;
  border: 1px solid #910101;
  margin-bottom: 10px;
}


.botonCrear:hover {
  background-color: #ca0000;
  font-weight: bold;
  transform: scale(1.05);
}

.botonExpandirCrear {
  width: 30%;
  /* Ocupa todo el ancho disponible */
  padding: 10px;
  border-radius: 5px;
  /* Bordes redondeados */
  margin-top: 10px;
  /* Separación del botón del resto del contenido */
  border: none;
  /* Sin borde adicional para el botón */
  cursor: pointer;
  text-align: center;
  background-color: transparent !important;
  margin-bottom: 10px;
}



@media (max-width: 768px) {
  .crearFormulario {
    padding: 5px;
    /* Menos padding en pantallas pequeñas */
  }

  label {
    font-size: 12px;
    /* Fuente más pequeña para pantallas pequeñas */
  }

  input,
  select {
    font-size: 12px;
    /* Fuente más pequeña para campos */
  }

  .contenedorDescripcion {
    padding: 5px;
  }

  h1 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

}

@media(max-width: 650px) {
    
    .crearFormulario {
      padding: 3px;
      /* Muy poco padding en pantallas muy pequeñas */
    }



    label {
      font-size: 8px;
      /* Fuente más pequeña en pantallas muy pequeñas */
    }

    input,
    select {
      font-size: 8px;
      /* Fuente más pequeña para campos en pantallas muy pequeñas */
    }

    .contenedorDescripcion {
      padding: 3px;
    }

    h1 {
      font-size: 10px;
    }

    p {
      font-size: 10px;
    }


  }

  @media (max-width: 480px) {
    .crearFormulario {
      padding: 3px;
      /* Muy poco padding en pantallas muy pequeñas */
    }

    h1 {
      font-size: 20px;
      /* Título más pequeño */
    }

    label {
      font-size: 8px;
      /* Fuente más pequeña en pantallas muy pequeñas */
    }

    input,
    select {
      font-size: 8px;
      /* Fuente más pequeña para campos en pantallas muy pequeñas */
    }

    .contenedorDescripcion {
      padding: 3px;
    }

    h1 {
      font-size: 10px;
    }

    p {
      font-size: 10px;
    }


  }